p{
    font-size: 25px;
}

a.button {
  display: inline-block; 
  padding: 10px 20px; 
  background-color: #007bff; 
  color: #ffffff;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px; 
  font-weight: 500;
  text-align: center; 
  transition: all 0.3s ease; 
  cursor: pointer; 
}


a.button:hover {
  background-color: #0056b3;
  transform: translateY(-2px); 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* Стили при нажатии */
a.button:active {
  transform: translateY(0); /* Возвращаем кнопку на место */
  box-shadow: none; /* Убираем тень */
}