body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: rgb(0, 84, 91);
}

h1 {
    color: #000000;
    text-align: center;
    margin-bottom: 20px;
}

.swiper-container {
    margin-bottom: 60px;
}

.swiper-slide {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card {
    width: 200px;
    height: 300px;
    background-color: #ffffff;
    border: 1px solid #0d0505;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    box-sizing: border-box;
    text-align: center;
}

.card-img {
    max-width: 100%;
    height: auto; 
    object-fit: cover; 
    border-radius: 4px;
    margin-bottom: 10px;
}

.card-title {
    font-size: 1em;
    color: #444;
    margin: 0% auto;
    text-align: center;
}