.news-list {
    border: 2px solid gray;
    margin: 20px 0;
    padding: 0;
    list-style: none;
}

.news-list li {
    padding: 10px;
    border: 2px solid gray;
    margin: 5px 0;
    box-sizing: border-box;
}

.news-list li::before {
    content: "+";
    margin-right: 10px;
}

.news-list li:hover {
    background-color: blue;
    color: white;
}

.news-list li:first-child {
    font-weight: bold;
    font-size: 1.2em;
}